/* src/styles/global.css */

/* Setting up the global font styles */

html, body {
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; 
}